<aside class="sidebar">
  <div class="sidebar-inner">
    <div class="profile-section">
      <a href="{{ '/' | relative_url }}" class="profile-pic">
        <img src="{{ '/assets/tx.jpg' | relative_url }}" alt="{{ site.author.name }}">
      </a>
      <h1 class="site-title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </h1>
    </div>
    
    <nav class="main-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">主页</a></li>
        <li><a href="{{ '/tags/随笔/' | relative_url }}">随笔</a></li>
        <li><a href="{{ '/archives/' | relative_url }}">归档</a></li>
      </ul>
    </nav>
    
    <nav class="secondary-nav">
      <a href="javascript:void(0)" onclick="toggleArchive()">所有文章</a>
      <a href="javascript:void(0)" onclick="toggleFriends()">友链</a>
      <a href="javascript:void(0)" onclick="toggleAbout()">关于我</a>
    </nav>
    
    <div class="social-links">
      {% if site.social.github %}
      <a href="https://github.com/{{ site.social.github }}" target="_blank" title="github">
        <i class="fa-brands fa-github"></i>
      </a>
      {% endif %}
      <a href="{{ '/assets/qq.jpg' | relative_url }}" target="_blank" title="qq">
        <i class="fa-brands fa-qq"></i>
      </a>
      <a href="{{ '/assets/wx.jpg' | relative_url }}" target="_blank" title="weixin">
        <i class="fa-brands fa-weixin"></i>
      </a>
      <a href="mailto:{{ site.social.email }}" title="mail">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
    
    <!-- 网易云音乐插件 -->
    <div class="music-player">
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="240" height="52" src="//music.163.com/outchain/player?type=2&id=1334445174&auto=1&height=32"></iframe>
    </div>
  </div>
</aside>
